<div style="background-color:#2e5589;">
  <div class="text-left">
    <%= link_to 'menu' do %>
      <%= image_tag "home.png", width: '100px', height: '100px' %>
    <% end %>
  </div>
  <div align="center">
    <h1><span style="color: white">Current Iteration Details</span></h1><br>
    <div class="container">
      <h3>
        <table class="table">
          <tbody>
          <tr>
            <td><span style="color: white">Iteration</span></td>
            <td><span style="color: white">July 1 2018 - July 14 2018</span></td>
          </tr>
          <tr>
            <td><span style="color: white">Days Left</span></td>
            <td><span style="color: white">5</span></td>
          </tr>
          <tr>
            <td><span style="color: white">Total Points</span></td>
            <td><span style="color: white">70</span></td>
          </tr>
          <tr>
            <td><span style="color: white">Points Left</span></td>
            <td><span style="color: white">20</span></td>
          </tr>
          <tr>
            <td><span style="color: white">Holidays</span></td>
            <td><span style="color: white">N/A</span></td>
          </tr>
          <tr>
            <td><span style="color: white">Capacity</span></td>
            <td><span style="color: white">18/20</span></td>
          </tr>
          <tr>
            <td><span style="color: white">Release</span></td>
            <td><span style="color: white">N/A</span></td>
          </tr>
          </tbody>
        </table>
      </h3>
    </div>
    <br><br><br>
    <h1><label><span style="color: white">Comments in the iteration</span></label></h1><br><br>
    <textarea rows="5" cols="70"><span style="color: white">Problems Encounterd in the itreation</span></textarea>
    <br><br><br><br>
    <h1><label><span style="color: white">Burndown Chart</span></label></h1><br><br>
    <%= image_tag "burndown.png", class: 'img-iteration-dashboard-burn' %>
  </div>
  <br><br><br><br><br><br><br><br><br>
  <%= image_tag "Question.png" %>
  <br><br><br><br>
</div>
